# Extractor Configuration
# Number of maximum concurrent Puppeteer instances. Recommended: 1 to 5 depending on system RAM.
EXTRACTOR_CONCURRENCY=3

# Limit the number of URL extractions processed per request (-1 for unlimited)
EXTRACTOR_LIMIT=-1
